.title {
  background-image: url("../../../public/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11626a;
  opacity: 0.4;
  z-index: 1;
}

.title h1 {
  color: #fff;
  position: relative;
  z-index: 2;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}

.contentContainer .wraperContent {
  width: 100%;
}

.contentContainer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.contentContainer .content .img img {
  width: 535px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.contentContainer .content .type {
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contentContainer .content .type h1 {
  color: #11626a;
}

.contentContainer .content .type p {
  line-height: 1.5;
  color: rgba(107, 114, 128);
}

.wraperIcon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wraperIcon span {
  display: flex;
  gap: 10px;
  color: rgba(107, 114, 128);
}

.icon {
  color: rgba(22, 189, 202);
}

.wraperContentBgr {
  background-color: rgba(237, 250, 250);
  max-width: 100%;
}

.contentBgr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.contentBgr .type {
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contentBgr .type h1 {
  color: #11626a;
}

.contentBgr .type p {
  color: rgba(107, 114, 128);
}

.contentBgr img {
  width: 535px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .content {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .contentBgr {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .contentContainer .content .img img {
    max-width: 100%;
    height: auto;
  }

  .contentBgr img {
    max-width: 100%;
    height: auto;
  }
}
