.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.navBarContainer {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(34, 85, 121);
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.navBarContent {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo img {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
}

.menu {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 20px;
  transition: trasform 0.3s;
}

.menuLink {
  color: #11626a;
}

.menuLink:hover {
  color: rgba(22, 189, 202);
}

.btnLink {
  border-radius: 50px;
  background-color: rgba(237, 250, 250);
}

.btnLinkContainer {
  display: flex;
  gap: 15px;
  padding: 10px;
  align-items: center;
}

.btnLinkContainer span {
  font-size: 16px;
  color: #11626a;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid rgba(22, 189, 202);
  background-color: rgba(22, 189, 202);
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #11626a;
  border: 1px solid #11626a;
}

.btnMenu {
  display: none;
  border: none;
  background-color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
  color: #11626a;
}

@media (max-width: 1205px) {
  .btnMenu {
    display: block;
  }

  .menu {
    display: none;
  }

  .mobileMenuOpen {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .btnLink {
    background-color: #fff;
  }

  .btnLinkContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    align-items: center;
  }
}
