.wrapper {
  padding-top: 20px;
  border-top: 1px solid #031f4b;
}

.contentContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 410px;
  line-height: 1.6;
}

.logo img {
  width: 120px;
  height: auto;
  padding-bottom: 20px;
}

.logo h2 {
  color: #ff0000;
}

.logo p {
  font-weight: 500;
  color: #031f4b;
}

.title {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.contactInfor {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.contactInfor .infor {
  display: flex;
  gap: 15px;
}

.contactInfor .infor .icon {
  font-size: 20px;
  color: #031f4b;
}

.contactInfor h3 {
  color: #ff0000;
}

.contactInfor p {
  font-weight: 500;
  color: #031f4b;
}

.wraperCategory {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.wraperCategory h3 {
  color: #ff0000;
}

.wraperCategory p {
  font-weight: 500;
  color: #031f4b;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
}

.categoryLink {
  color: #031f4b;
  transition: transform 0.2s;
}

.categoryLink:hover {
  transform: scale(1.1);
}

.cpRight {
  background-color: gray;
  color: #fff;
  align-items: center;
  text-align: center;
}

@media (max-width: 1202px) {
  .contentContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 760px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .logo {
    text-align: center;
  }

  .contactInfor {
    display: flex;
    flex-direction: column;
    width: 380px;
  }

  .contactInfor h3 {
    text-align: center;
  }

  .wraperCategory {
    text-align: center;
  }
}
